.dish-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin: 5px;
  width: 95%;
}
.type-border {
  margin: 8px;
  align-self: flex-start;
}
.veg-border {
  border: 2px solid rgb(25, 102, 25);
}
.non-veg-border {
  border: 2px solid rgb(178, 38, 38);
}
.type-img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 5px;
}
.veg {
  background-color: rgb(25, 102, 25);
}
.non-veg {
  background-color: rgb(178, 38, 38);
}
.dish-details {
  flex-grow: 1;
}
.dish-name {
  font-family: 'Roboto';
  color: black;
  font-size: 25px;
  font-weight: 600;
}
.currency {
  font-family: 'Roboto';
  color: gray;
  font-size: 16px;
  font-weight: 500;
}
.dish-desc {
  font-family: 'Roboto';
  color: lightgray;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.plus-minus-section {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  background-color: green;
  margin-bottom: 5px;
}
.control-btn {
  background: transparent;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.item-quantity {
  font-size: 22px;
  color: #ffffff;
  font-family: 'Roboto';
  margin: 0 10px;
}
.not-available-text {
  font-family: 'Roboto';
  color: rgb(178, 38, 38);
  font-size: 18px;
  margin: 5px;
}
.customization-text {
  font-weight: 500;
  font-size: 18px;
  color: blueviolet;
}
.calories {
  min-width: 150px;
  font-family: 'Roboto';
  font-size: 18px;
  color: orange;
  align-items: center;
  font-weight: 500;
}
.dish-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
